@model List<certificacaoaspnet.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("NEW MOVIE", "New", new { }, new { @class = "btn btn-primary" })

@*if (!Model.Any())
    {
        <p>Vá embora, não tem nada para você aqui...</p>
    }
    else
    {*@
<table class="table table-bordered" id="movies">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*foreach (var movie in Model)
            {

                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", new { id = movie.Id })</td>
                    <td>@movie.Genre.Name</td>
                </tr>
            }*@
    </tbody>
</table>
@*}*@

@section scripts
{
    <script>
        $(document).ready(function () {

            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movies) {
                            return "<a href='/movies/edit/" + movies.id + "'>" + movies.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data, type, movies) {
                            return "<button class='btn-link js-delete' data-movies-id='" + movies.id + "'>Delete</button>";
                        }
                    }
                ]
            });

            $("#movies").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this movie?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movies-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                                //button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });

    </script>


}